#modalWindowWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	background-color: #80808080;

&.hidden {
	display: none;
	}

	.modal-window-content {
		width: 500px;
		height: 400px;
		margin: calc((100vh - 500px) / 2) auto;
		background-color: rgb(176, 173, 173);
		padding: 20px;
		@media (max-width: 530px) {
			width: 320px;
		}
	}
}

