@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@500&family=Roboto+Condensed:ital,wght@1,300;1,400;1,700&display=swap');
@import './components/variables.scss';
@import './components/mixin.scss';
@import './modalWin.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $backgroundColor;
}

.container {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.button:hover {
	background-color: grey;
}

.header {
	width: 100%;
	background: #6838A6;

	&__container {
		padding-top: 16px;
		padding-bottom: 16px;
		height: fit-content;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 824px) {
			min-height: 100px;
		}
	}

	&__logo {
		font-family: open sans;
		color: $fontsColorDarkBckg;
		font-size: 24px;

		@media (max-width: 824px) {
			font-size: 35px;
			margin-left: 50px;
		}
	}

	&__clock {
		@include Roberto-700();
		font-size: 18px;
		border-radius: 12px;
		padding: 10px 20px;
		background: rgb(245, 226, 250);

		@media (max-width: 824px) {
			font-size: 30px;
			margin-left: 50px;
		}
	}
}


.tasks {

	&__container {
		padding-top: 20px;
		padding-bottom: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;

		@media (max-width: 824px) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
		}
	}

}

.tasks-board {
	@include styleForms();
	overflow: hidden;
	background-color: #efefef;

	&__created {}

	&__inProgress {}

	&__done {}

	&__header {
		width: 100%;
		padding: 10px 30px;
		color: black;
		font-family: open sans;
		font-size: 18px;
		display: flex;
		justify-content: space-between;

		&__header-title {
			text-transform: capitalize;
		}

		&_created {
			background-color: #C34D65;
		}

		&_inProgress {
			background-color: #93C6de;
		}

		&_done {
			background-color: #8BDBAD;
		}
	}

	&__content {
		width: 100%;
		text-align: center;
		padding: 16px;
	}

	&__addTaskButton,
	&__deleteAllTasksButton {
		cursor: pointer;
		background-color: #C34D65;
		border: none;
		color: black;
		width: 100%;
		padding: 10px;
		font-size: 18px;
		font-weight: 700;
	}

	&__deleteAllTasksButton {
		background-color: #8BDBAD;
	}
}

.task-item {
	// margin: 20px;
	background-color: rgba(53, 204, 204, 0.767);
	padding: 16px;
	border-radius: 8px;
	height: fit-content;

	&__header {
		display: flex;
	}

	&__title {
		width: 100%;
		border-radius: 2px;
		padding: 5px;
		font-size: 24px;
		text-align: left;
		font-weight: 700;
	}

	&__input-title {
		width: 100%;
		border-radius: 2px;
		padding: 5px;
		border: 0px solid;
		margin-bottom: 16px;
		cursor: pointer;
	}

	&__textarea {
		@include Roberto-400();
		width: 100%;
		font-size: 18px;
		border: none;
		border-radius: 3px;
		padding: 5px;
		max-height: 400px;
	}

	&__description-container {
		display: flex;
		width: 100%;
		margin-top: 16px;
	}

	&__description-text {
		width: 100%;
		padding: 8px;
		background-color: white;
		border-radius: 5px;
		text-align: left;
	}

	&__slide-button {
		min-height: 50px;
		padding: 5px;
		margin-left: 10px;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		@include Roberto-400();
		font-size: 20px;
		margin-top: 16px;
	}

	&__select-user {
		width: 100%;
		margin-right: 30px;
		border: none;
		border-radius: 3px;
		padding: 5px;
	}

	&__buttons-container {
		display: flex;
	}

	&__button {
		padding: 5px 10px;
		border-radius: 3px;
		border: none;

		&_header {
			height: fit-content;
		}
	}

	&__button+&__button {
		margin-left: 16px;
	}
}

.tasksCreated-color {
	background-color: #C34D65;
}

.tasksInProgress-color {
	background-color: #93C6de;
}

.tasksDone-color {
	background-color: #8BDBAD;
}

.task-item+.task-item {
	margin-top: 16px;
}

.modal-window {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	background-color: aquamarine;
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;

	&__task-item {
		position: absolute;
		padding: 30px;
		width: 50%;
		height: auto;
		top: 50%;
		left: 50%;
		z-index: 11;
		transform: translateX(-50%) translateY(-50%);

		.task-item__text {
			text-align: center;
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
}

.button {
	cursor: pointer;
}

.disabled {
	background-color: #3a5a48;
	opacity: 0.5;
	cursor: auto;
}